<div class="penta-hidden-fields">
  <input type="hidden" name="Make" value="{% if product.metafields.product.Make != blank %}{{ product.metafields.product.Make }}{% else %}NA{% endif %}" />
  <input type="hidden" name="Model" value="{% if product.metafields.product.Model != blank %}{{ product.metafields.product.Model }}{% else %}NA{% endif %}" />
  <input type="hidden" name="Location" value="{% if product.metafields.product.Location != blank %}{{ product.metafields.product.Location }}{% else %}NA{% endif %}" />
</div>