<div class="penta-modal" id="gallery-modal">
 {% render 'penta-close-modal-button' %}
  <div class="penta-modal-content">
    <div class="swiper penta-swiper" id="penta-gallery-swiper">
      <div class="swiper-wrapper">
          {%- for media in product.media -%}
              <div class="swiper-slide">
                  {%- if media != blank -%}
                      <img data-src="{{ media | image_url: width: 2000 }}"
                            width=""
                            height=""
                            class="swiper-lazy">
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                  {%- endif -%}
              </div>
          {%- endfor -%}
      </div>
      <div class="swiper-button-next">.</div>
      <div class="swiper-button-prev">.</div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    var productSwiper = new Swiper("#penta-gallery-swiper", {
      preloadImages: false,
      lazy: {
        loadPrevNext: true,
      },
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      }
    });
  });
  
</script>

<style>
  #gallery-modal{
    display:flex;
    align-items:center;
    justify-content:center;
    pointer-events:all;
  }
  #gallery-modal .penta-modal-content{
    width: 100%;
    padding: 16px;
  }
  #gallery-modal .swiper-wrapper{
    align-items:center;
  }
.swiper-lazy-preloader:empty{
  display:block;
}
  #gallery-modal .penta-close-modal-button{
    position:absolute;
    top:16px;
    right:16px;
    background:white;
    z-index:2;
    cursor:pointer;
  }
</style>