<section class="penta-modal" id="test-drive-modal">
  <div id="test-drive-form-content">
    <h1>Test Drive</h1>
    <form>
    </form>
  </div>
  <button data-modal="close-modal">Close Modal</button>
</section>