{{ 'penta-calculator.css' | asset_url | stylesheet_tag }}
<section class="penta-modal" id="calculator-modal">
  <div class="penta-form-content" id="calculator-form-content">
    {% render 'penta-button-close-modal' %}
    <form id="calculator-form" class="penta-form" data-form-type="ContactMeRequest">
      {% render 'penta-form-heading', form_heading: 'Auto Loan Calculator' %}
      <div class="penta-input-group">
        <div class="penta-input">
          <input type="text" id="amount" name="amount">
          <label for="amount">Loan Amount in Rands</label>
          <span class="hidden" id="amount-error-message">Loan amount is required</span>
        </div>
      </div>
      <div class="penta-input-group">
        <div class="penta-input">
          <input type="text" id="months" value="72">
          <label for="months">Months</label>
          <span class="hidden" id="month-error-message">Month field is required</span>
        </div>
      </div>
      <div class="penta-input-group">
        <div class="penta-input">
          <input type="text" id="interest" value="13">
          <label for="interest">Interest Rate</label>
          <span class="hidden" id="interest-error-message">Interest Rate is required</span>
        </div>
      </div>
      <div class="penta-input-group">
        <div class="penta-input">
          <input type="text" id="down">
          <label for="payment">Down Payment in Rands</label>
        </div>
      </div>
      <button id="calculate-button" class="btn" type="button">Calculate</button>
      <p id="output"></p>
    </form>
  </div>
</section>
