<div class="penta-form-feedback">
  <div id="penta-form-success-message" class="penta-form-success">
    <h3>{% render 'icon-checkmark' %}Success - thank you for your message!</h3>
  </div>
  <div class="penta-form-error">
    <h3>Something went wrong - please try again later.</h3>
  </div>
</div>