<section class="penta-modal" id="enquiry-modal">
  <div id="enquiry-form-content">
    <h1>Make an Enquiry</h1>
    <form>
    </form>
  </div>
  <button data-close-modal>Close Modal</button>
</section>