<div id="penta-deal-form-context-block" class="penta-form-context-block">
  <div>
    <img src="" id="deal-context-image"         
      loading="lazy"
      width=""
      height="">
  </div>
  <div class="penta-form-context-block-title">
    <h3 id="deal-context-title"></h3>
    <div class="deal-context-price-container">
      <h3 id="deal-context-price"></h3>
      <h5 id="deal-context-period"></h5>
    </div>
    <div class="deal-context-deposit-container">
        <h4 id="deal-context-deposit"></h4>
        <h4 id="deal-context-interest-type"></h4>
    </div>
  </div>
</div>