<div id="enquiry-form-content">
  <h1>Make an Enquiry</h1>
  <form>
  </form>
</div>

<style>
  #enquiry-form-content{
    position:fixed;
    bottom:0;
    left:0;
    height:300px;
    width:300px;
    background:red;
  }
</style>