<section class="penta-modal" id="book-a-service-modal">
  <div class="penta-form-content" id="book-a-service-form-content">
    {% render 'penta-button-close-modal' %}
    <form id="book-a-service-form" class="penta-form" data-form-type="ServiceBookingRequest">
      {% render 'penta-form-heading', form_heading: 'Book a Service' %}
      <div class="penta-input-group">
        <div class="penta-input">
          <input type="text" name="FirstName" value="" required />
          <label>First Name*</label>
        </div>
        <div class="penta-input">
          <input type="text" type="text" name="Surname" value="" required />
          <label>Surname*</label>
        </div>
      </div>
      <div class="penta-input-group">
        <div class="penta-input">
          <input type="tel" name="TelephoneNumber" pattern="^[0-9-+\s()]*$" value="" required inputmode="numeric" />
          <label>Contact Number*</label>
        </div>
        <div class="penta-input">
          <input type="email" name="EmailAddress" value="" required />
          <label>Email Address*</label>
        </div>
      </div>
      <div class="penta-input-group">
        <div class="penta-input">
          <input type="text" type="text" name="Make" value="" required />
          <label>Make*</label>
        </div>
        <div class="penta-input">
          <input type="text" type="text" name="Model" value="" required />
          <label>Model*</label>
        </div>
      </div>
      <div class="penta-input-group">
        <div class="penta-input">
          <input type="text" type="text" name="Registration" value="" required />
          <label>Vehicle Registration*</label>
        </div>
        <div class="penta-input">
          <input type="text" type="text" name="Mileage" value="" required />
          <label>Current Vehicle Mileage*</label>
        </div>
      </div>
      <div class="penta-input-group">
        <div class="penta-input">
          <input type="date" name="ServiceDueDate" value="" required />
          <label>Vehicle Service Due Date*</label>
        </div>
        <div class="penta-input">
          <select required name="Branch">
            <option value="" disabled selected></option>
          </select>
          <label>Select a Branch</label>
        </div>
      </div>
      <div class="penta-input-group">
        <div class="penta-input">
          <textarea type="text" required name="Message"></textarea>
          <label>Message*</label>
        </div>
      </div>
      {% render 'penta-form-footer', 
        submitText: 'Submit' %}
    </form>
  </div>
</section>