<div class="penta-form-footer">
  {% if template.name == 'product' %}
    <div class="penta-form-footer-contact">
      {% if product.metafields.product.DealerContactNumber != blank %}
        <h3>{% render 'icon-penta-phone' %}<a class="penta-link" href="tel:{{ product.metafields.product.DealerContactNumber | replace: ' ', '' }}">{{ product.metafields.product.DealerContactNumber }}</a></h3>
      {% endif %}
    </div>
  {% endif %}
  <button class="penta-button penta-submit-button" id="fwx-enquiry-submit-button" type="button" >{{ submitText }}</button>
</div>