<div>
    <div class="penta-hidden-fields">
        <input type="hidden" name="Make" value="{{ title |  split: ' - ' | first }}" />
        <input type="hidden" name="Model" value="{{ title |  split: ' - ' | last }}" />
    </div>
</div>