<section class="penta-modal" id="contact-us-modal">
  <div id="contact-us-form-content">
    <h1>Contact us</h1>
    <form>
    </form>
  </div>
  <button data-modal="close-modal">Close Modal</button>
</section>