@media screen and (max-width: 750px) {
	#penta-product-page {
		padding: 0;
	}
}

.penta-product-content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}

.penta-product-swiper-container {
	width: 100%;
}

@media screen and (min-width: 750px) {
	.penta-product-content {
		flex-direction: row;
		gap: 0;
	}
	.penta-product-swiper-container,
	.penta-product-information {
		width: 50%;
	}
}

/* Swipers */

#penta-product-swiper {
	margin-bottom: 8px;
}
@media screen and (min-width: 990px) {
	#penta-product-swiper {
		margin-bottom: 16px;
	}
}

/* Product Information */

.penta-product-information {
	display: flex;
	flex-direction: column;
}

.penta-product-information * {
	margin: 0;
}
@media screen and (max-width: 750px) {
	.penta-product-information-content {
		padding: 0 1.5rem;
	}
}

.penta-product-information-content {
	margin-bottom: 24px;
}
/* Specification */

.penta-product-specification {
	background: #f4f4f4;
	border-radius: 3px;
	padding: 3px;
	display: inline-flex;
	font-size: 11px;
	margin-bottom: 10px;
}

/* Title */

.penta-product-title {
	font-size: 24px;
	margin-bottom: 10px;
}
/* Odometer */

.penta-product-odometer {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 14px;
	margin-bottom: 32px;
}

/* Features */
.penta-product-icon-features {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 16px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	flex-wrap: wrap;
}
.penta-product-icon-features h5 {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 14px;
}
/* Checkout */

.penta-checkout {
	background: black;
	padding: 24px 16px;
	display: grid;
	gap: 10px;
	margin-top: auto;
	border-radius: 3px;
}

@media screen and (min-width: 990px) {
	.penta-checkout {
		padding: 24px;
	}
}
.penta-checkout .price {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.penta-checkout-buttons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px;
}

@media screen and (max-width: 420px) {
	.penta-checkout button {
		width: 100%;
	}
}

/* Location */
.penta-product-location {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}

.penta-product-location h5 {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 14px;
}

@media screen and (min-width: 750px) {
	.penta-product-information {
		padding-left: 30px;
	}
}

@media screen and (min-width: 990px) {
	.penta-product-information {
		padding-left: 40px;
	}
}

/* Metafields Table */

@media screen and (max-width: 750px) {
	.penta-product-metafields {
		padding: 0 1.5rem;
	}
}

.penta-product-metafields {
	margin-top: 30px;
	display: grid;
	width: 100%;
	gap: 30px;
}

@media screen and (min-width: 750px) {
	.penta-product-metafields {
		margin-top: 60px;
		grid-template-columns: 2fr 1fr;
	}
}
@media screen and (min-width: 990px) {
	.penta-product-metafields {
		margin-top: 80px;
	}
}
/* Recommended */

@media screen and (max-width: 750px) {
	.penta-recommended-grid {
		padding: 0;
	}
}

.penta-recommended-grid .product-grid {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
	padding: 0;
}
@media screen and (min-width: 460px) {
	.penta-recommended-grid .product-grid {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (min-width: 750px) {
	.penta-recommended-grid .product-grid {
		gap: 30px;
	}
}
@media screen and (min-width: 990px) {
	.penta-recommended-grid .product-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.penta-recommended-grid .product-grid .grid__item {
	width: 100%;
	max-width: none;
	padding: 0;
}
.penta-recommended-grid .penta-card.card .penta-card-location {
	border: none;
	padding-top: 0;
}
.penta-recommended-grid .penta-card.card .penta-card-location .price {
	margin-left: 0;
}

.penta-recommended-grid .penta-card.card .penta-card-stats,
.penta-recommended-grid .penta-card.card .penta-card-location > h5 {
	display: none;
}
