/* Layout */

@media screen and (max-width: 750px) {
	#penta-product-grid {
		padding: 0;
	}
	#penta-filters {
		padding: 0 1.5rem;
	}
}

/* Filters */

#penta-filters summary,
#penta-filters select {
	font-weight: 700;
	color: black;
}

@media screen and (min-width: 990px) {
	#penta-filters {
		background: #fff;
		padding: 16px;
		min-width: 250px;
		border-radius: 3px;
	}
	#penta-product-grid {
		column-gap: 24px;
	}
}

@media screen and (min-width: 750px) {
	#penta-filters .facets__disclosure {
		margin-right: 0;
	}
}

/* Product Grid */

.penta-product-grid-container .product-grid {
	margin: 0;
	display: grid;
	row-gap: 8px;
}

@media screen and (min-width: 750px) {
	.penta-product-grid-container .product-grid {
		row-gap: 16px;
	}
}
@media screen and (min-width: 990px) {
	.penta-product-grid-container .product-grid {
		row-gap: 0;
	}
}
.penta-product-grid-container .product-grid .grid__item {
	width: 100% !important;
	max-width: none;
	padding: 0;
}

/* Card styles */

.penta-card * {
	margin: 0;
}
.penta-card-image {
	overflow: hidden;
	display: flex;
	border-radius: 3px;
	align-items: flex-start;
}

.penta-card-image img {
	max-width: 100%;
	height: auto;
}
.penta-card {
	display: grid;
	column-gap: 16px;
	grid-template:
		"image specification specification"
		"image title title"
		"image . ."
		"image mileage mileage"
		"stats stats stats"
		"location location location";
	grid-template-columns: 1fr 2fr;
	background: #fff;
	padding: 16px;
	text-decoration: none;
	color: black;
}

@media screen and (min-width: 750px) {
	.penta-card {
		grid-template:
			"image specification"
			"image title"
			"image mileage"
			"image ."
			"image stats"
			"image location";
		grid-template-columns: 1fr 2fr;
		column-gap: 24px;
	}
}

.penta-card-image {
	grid-area: image;
}
.penta-card-specification {
	grid-area: specification;
}
.penta-card-title {
	grid-area: title;
}
.penta-card-mileage {
	grid-area: mileage;
}
.penta-card-stats {
	grid-area: stats;
}
.penta-card-stats ul {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 20px;
}
.penta-card-location {
	grid-area: location;
}
