/* General */
* {
	font-family: "Inter", sans-serif !important;
	letter-spacing: 0 !important;
}

.button {
	letter-spacing: 0;
}

.penta-button {
	border: 2px solid transparent;
	background: black;
	border-radius: 50px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 16px;
	padding-right: 16px;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	gap: 10px;
}

.penta-button svg {
	fill: white;
	max-width: 20px;
	max-height: 16px;
}

@media screen and (min-width: 990px) {
	.penta-button {
		height: 52px;
		padding-left: 24px;
		padding-right: 24px;
		font-size: 18px;
	}
	.penta-button svg {
		max-width: 24px;
		max-height: 20px;
	}
}

.penta-button-secondary {
	border: 2px solid black;
	color: #000;
}

.penta-button-secondary svg {
	fill: black;
}

.penta-button-secondary-white {
	border-color: #fff;
	color: #fff;
}

.penta-button-secondary-white svg {
	fill: white;
}

.penta-button-green {
	background: #45975c;
}

/* Links */

.penta-link {
	color: #000;
	text-underline-offset: 4px;
	text-decoration-thickness: 2px;
	font-weight: 700;
}

/* Live chat button */

#shopify-chat {
	z-index: 1 !important;
}

/* Buttons */

button svg {
	pointer-events: none;
}

/* Modals */

body.modal-open {
	overflow: hidden;
}

.penta-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: transform 0.15s, opacity 0.15s, visibility 0.15s;
	z-index: 5;
	width: 100%;
	height: 100%;
}

button.penta-close-modal-button {
	height: 32px;
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 0;
	border: none;
}

button.penta-close-modal-button svg {
	max-width: 16px;
}

/* Accordions */

.penta-accordion-content:not(.penta-show) {
	display: none !important;
}

/* Swipers */

.penta-swiper .swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.penta-swiper .swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Expand buttons */
button[data-modal="gallery-modal"] {
	background: black;
	width: 36px;
	height: 36px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 16px;
	right: 16px;
	border: none;
	border-radius: 50%;
	padding: 0;
	border: 1px solid #666;
	transition: background-color 0.15s;
	cursor: pointer;
	z-index: 2;
}

button[data-modal="gallery-modal"]:hover {
	background: white;
}

button[data-modal="gallery-modal"] svg {
	fill: white;
	transition: background-color 0.15s;
}

button[data-modal="gallery-modal"]:hover svg {
	background: white;
	fill: black;
}

/* Thumbs */

.penta-swiper.penta-thumbs-swiper {
	height: 50px;
}

.penta-swiper.penta-thumbs-swiper .swiper-slide img {
	max-height: none; /* Override regular swiper img */
}

@media screen and (min-width: 750px) {
	.penta-swiper.penta-thumbs-swiper {
		height: 60px;
	}
}
@media screen and (min-width: 990px) {
	.penta-swiper.penta-thumbs-swiper {
		height: 80px;
	}
}

/* Forms */
.penta-form-content {
	background-color: #fafafa;
	pointer-events: all;
	transition: transform 0.15s;
	transform: translateX(100%);
	max-width: 750px;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

.penta-show .penta-form-content {
	transform: translateX(0);
}
/* Form feedback */

.penta-form-feedback {
	position: fixed;
	z-index: 5;
	bottom: 0;
	left: 0;
	right: 0;
}

.penta-form-feedback > div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 24px 16px;
	transform: translateY(100%);
}

.penta-form-feedback > div h3 {
	color: #fff;
}

.penta-form-success {
	background: green;
}

.penta-form-error {
	background: red;
}

/* Show/hide state */

.penta-show {
	visibility: visible !important;
	opacity: 1 !important;
	transform: translateX(0) translateY(0) !important;
}

/* Tables  */

.penta-table {
	width: 100%;
	border-collapse: collapse;
}

.penta-table tr {
	border-bottom: 1px solid #ccc;
}
.penta-table td,
.penta-table {
	color: black;
	padding: 8px 0;
	text-align: left;
	background: none;
}

/* Desktop Header */
@media screen and (min-width: 990px) {
	.header-wrapper {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	.penta-header .list-menu__item {
		font-weight: 700;
		color: black;
	}
	.penta-nav-flyout-heading {
		font-weight: 700;
		margin: 0;
		padding-top: 24px;
	}
}

/* Nav brand list flyout */

@media screen and (min-width: 990px) {
	details > .penta-brand-menu {
		position: fixed;
		top: 92px;
		width: 100%;
		left: 0;
		right: 0;
		padding: 0;
		z-index: -1;
		border: none;
		background: #fff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		animation: animateMenuOpen var(--duration-default) ease;
	}

	/* UL */

	.penta-brand-menu .header__submenu.list-menu {
		position: static;
		border: none;
		padding: 0;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
		padding: 8px 0 12px 0;
	}

	/* li */

	.penta-brand-menu .header__submenu .header__menu-item {
		border-radius: 3px;
		border: 2px solid transparent;
		transition: border 0.15s;
		padding: 0;
	}

	.penta-brand-menu .header__submenu .header__menu-item:hover {
		background-color: #f4f4f4;
	}
}
