@media screen and (min-width: 750px) {
	#penta-product-grid {
		display: grid;
		grid-template-areas: "filters products products";
		column-gap: 16px;
	}
	#main-collection-filters {
		grid-area: filters;
	}
	#ProductGridContainer {
		grid-area: products;
	}
	#penta-filters {
		border: 1px solid red;
	}
	#penta-filters .facets-container {
		display: block;
	}
	#penta-filters .facets__form {
		display: block;
	}
	#penta-filters .facets__wrapper {
		display: block;
	}
}

@media screen and (min-width: 990px) {
	#penta-product-grid {
		column-gap: 24px;
	}
}
