/* Layout */

.collection-grid-section {
	background: #f4f4f4;
	margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

.collection-grid-section:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 750px) {
	#penta-product-grid {
		display: grid;
		grid-template-areas: "filters products products";
		column-gap: 16px;
	}
	#main-collection-filters {
		grid-area: filters;
	}
	#ProductGridContainer {
		grid-area: products;
	}
	#product-grid {
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 4px 6px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		overflow: hidden;
	}
}

@media screen and (max-width: 750px) {
	#penta-product-grid {
		padding: 0;
	}
	#penta-filters {
		padding: 0 1.5rem;
	}
	.facets-container {
		margin-bottom: 20px;
	}
}

/* Filters */

#penta-filters summary,
#penta-filters select {
	font-weight: 700;
	color: black;
	margin: 0;
}

@media screen and (min-width: 750px) {
	#penta-filters .facets-container {
		display: block;
	}
	#penta-filters .facets__form {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin: 0;
	}
	#penta-filters .facets__wrapper {
		display: block;
		width: 100%;
	}
	#penta-filters .facets__heading {
		margin: 0;
	}
	#penta-filters .facet-filters {
		padding: 16px 0;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	#penta-filters .facet-filters__field {
		justify-content: start;
		flex-wrap: wrap;
	}

	#penta-filters .facet-filters__field h2 {
		margin-right: auto;
	}
	/* Product count */
	#penta-filters .product-count {
		text-align: left;
	}
	/* Pills */
	#penta-filters .active-facets {
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
		margin-bottom: 24px;
	}
	#penta-filters .active-facets__button-wrapper {
		padding: 0;
	}
	#penta-filters .active-facets__button,
	#penta-filters .active-facets__button-remove {
		margin: 0;
		padding: 0;
	}
	#penta-filters {
		background: #fff;
		min-width: 200px;
		max-width: 200px;
		border-radius: 3px;
		padding-top: 24px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 4px 6px rgba(0, 0, 0, 0.25);
		border-radius: 3px;
	}
	#penta-filters .facet-filters__field,
	#penta-filters .facets__heading,
	#penta-filters .active-facets,
	#penta-filters .product-count,
	#penta-filters summary {
		padding-left: 16px;
		padding-right: 16px;
	}
	#penta-filters summary {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	#penta-filters summary svg {
		padding-right: 16px;
	}

	/* Filter dropdown flyouts */
	#penta-filters .facets__display {
		left: 1.2rem;
	}
	#penta-filters .facets__header {
		color: black;
	}
	#penta-filters .facet-checkbox:not(.facet-checkbox--disabled) {
		color: black;
	}
	#penta-product-grid {
		column-gap: 24px;
	}
}

@media screen and (min-width: 990px) {
	#penta-filters {
		min-width: 250px;
	}
}
@media screen and (min-width: 1280px) and (min-height: 1000px) {
	#penta-filters {
		min-width: 300px;
		position: sticky;
		top: 104px;
		border-radius: 5px;
		z-index: 1;
	}
	.shopify-section-header-hidden + main #penta-filters {
		top: 30px;
	}
}
@media screen and (min-width: 750px) {
	#penta-filters .facets__disclosure {
		margin-right: 0;
	}
}

/* Product Grid */

.penta-product-grid-container .product-grid {
	margin: 0;
	display: grid;
	row-gap: 8px;
}

@media screen and (min-width: 750px) {
	.penta-product-grid-container .product-grid {
		row-gap: 0;
	}
}
.penta-product-grid-container .product-grid .grid__item {
	width: 100% !important;
	max-width: none;
	padding: 0;
}

/* Card styles */
.penta-card * {
	margin: 0;
}

.penta-card {
	position: relative;
	display: grid;
	column-gap: 16px;
	grid-template:
		"image specification specification"
		"image title title"
		"image . ."
		"image mileage mileage"
		"stats stats stats"
		"location location location";
	grid-template-columns: 1fr 2fr;
	background: #fff;
	padding: 16px;
	text-decoration: none;
	color: black;
}

@media screen and (min-width: 460px) {
	.penta-card {
		grid-template:
			"image specification"
			"image title"
			"image mileage"
			"image ."
			"image stats"
			"image location";
		grid-template-columns: 1fr 2fr;
		column-gap: 24px;
	}
}
@media screen and (min-width: 750px) {
	.penta-card {
		border-bottom: 1px solid #ccc;
	}
}

@media screen and (min-width: 990px) {
	.penta-card {
		grid-template:
			"image specification"
			"image title"
			"image mileage"
			"image ."
			"image stats"
			"image location";
		grid-template-columns: 2fr 3fr;
		column-gap: 24px;
	}
}

/* Card image */

.penta-card-image {
	grid-area: image;
}

.penta-card-image {
	display: flex;
	align-items: flex-start;
}

.penta-card-image img {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
	image-rendering: -webkit-optimize-contrast;
}

/* Specification */

.penta-card-specification {
	grid-area: specification;
	line-height: 1;
	margin-bottom: 6px;
}
.penta-card-specification h5 {
	font-size: 10px;
	background: #f4f4f4;
	padding: 3px;
	border-radius: 3px;
	display: inline;
	line-height: 1;
}

/* Title  */

.penta-card-title {
	grid-area: title;
	margin-bottom: 8px;
}
.penta-card-title h3 {
	font-size: 16px;
	font-weight: 700;
}

/* Mileage */

.penta-card-mileage {
	grid-area: mileage;
}
.penta-card-mileage h5 {
	font-size: 14px;
	display: flex;
	gap: 6px;
	align-items: center;
}

/* Stats */

.penta-card-stats {
	grid-area: stats;
	margin-top: 20px;
}

.penta-card-stats ul {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 20px;
}

.penta-card-stats ul li {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 12px;
	white-space: nowrap;
}

/* Location */

.penta-card-location {
	grid-area: location;
	display: flex;
	align-items: center;
	margin-top: 16px;
	border-top: 1px solid #ccc;
	padding-top: 16px;
	gap: 8px;
}

.penta-card-location h5 {
	font-size: 12px;
	display: flex;
	gap: 8px;
}
.penta-card-location .price {
	font-size: 16px;
	font-weight: 700;
	margin-left: auto;
	flex-shrink: 0;
}

@media screen and (min-width: 990px) {
	.penta-card {
		padding: 30px 24px;
	}
	.penta-card-specification {
		margin-bottom: 16px;
	}
	.penta-card-specification h5 {
		font-size: 13px;
		padding: 5px;
	}
	.penta-card-title {
		margin-bottom: 12px;
	}
	.penta-card-title h3 {
		font-size: 20px;
		font-weight: 100;
	}
	.penta-card-mileage {
		margin-bottom: 24px;
	}
	.penta-card-mileage h5 {
		font-size: 18px;
	}
	.penta-card-stats ul {
		gap: 30px;
	}
	.penta-card-stats ul li {
		font-size: 14px;
	}
	.penta-card-location h5 {
		font-size: 14px;
	}
	.penta-card-location .price {
		font-size: 20px;
	}
}

@media screen and (min-width: 1280px) {
	.penta-card {
		padding: 40px 30px;
		column-gap: 40px;
	}
	.penta-card-title h3 {
		font-size: 24px;
		font-weight: 100;
	}
	.penta-card-stats ul li {
		font-size: 16px;
	}
	.penta-card-location h5 {
		font-size: 16px;
	}
	.penta-card-location .price {
		font-size: 24px;
	}
}

/* Pagination */
#penta-product-grid .pagination-wrapper {
	margin-top: 30px;
	margin-bottom: 0;
	padding: 0 16px;
}
#penta-product-grid .pagination {
	background: #fff;
	box-shadow: 0px 1px 2px rgb(0 0 0 / 50%), 0px 4px 6px rgb(0 0 0 / 25%);
	border-radius: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}
@media screen and (min-width: 750px) {
	#penta-product-grid .pagination-wrapper {
		padding: 0;
	}
	#penta-product-grid .pagination {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

/* Hover */
.penta-card-arrow {
	width: 32px;
	height: 32px;
	background: black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 16px;
	right: 16px;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.1s, visibility 0.1s, transform 0.1s;
	transform: translateY(15px);
}
.penta-card-arrow svg {
	fill: white;
	max-width: 16px;
}
@media screen and (min-width: 990px) {
	.penta-card-arrow {
		top: 20px;
		right: 20px;
		width: 40px;
		height: 40px;
	}
	.penta-card-arrow svg {
		max-width: 24px;
	}
}
.penta-card:hover .penta-card-arrow {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: opacity 0.15s, visibility 0.15s, transform 0.15s;
}

/* Card style */
.penta-card.card {
	border: none;
}

.penta-card.card .penta-card-image {
	overflow: hidden;
	margin-bottom: 16px;
}

.penta-card.card .penta-card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (min-width: 750px) {
	.penta-card.card .penta-card-image img {
		max-width: none;
		height: 200px;
		width: 100%;
	}
	.penta-card.card {
		padding: 0;
	}
	.penta-card.card .penta-card-specification h5 {
		font-size: 12px;
	}
	.penta-card.card .penta-card-title h3 {
		font-size: 16px;
	}
	.penta-card.card .penta-card-mileage h5 {
		font-size: 14px;
	}
	.penta-card.card .penta-card-location .price {
		font-size: 16px;
	}
}
