/* General */
* {
  font-family: "Inter", sans-serif !important;
  letter-spacing: 0 !important;
}

a,
.button,
button {
  cursor: pointer;
}

a {
  color: black;
}

.button {
  letter-spacing: 0;
}

.penta-button {
  border: 2px solid transparent;
  background: black;
  border-radius: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}

.penta-button-small {
  height: 40px;
  padding: 0 16px;
  font-size: 14px;
}

.penta-button svg {
  fill: white;
  max-width: 20px;
  max-height: 16px;
}

@media screen and (min-width: 990px) {
  .penta-button {
    height: 52px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
  }
  .penta-button svg {
    max-width: 24px;
    max-height: 20px;
  }
  .penta-button-small {
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
  }
}

.penta-button-secondary {
  border: 2px solid black;
  color: #000;
}

.penta-button-secondary svg {
  fill: black;
}

.penta-button-secondary-white {
  border-color: #fff;
  color: #fff;
}

.penta-button-secondary-white svg {
  fill: white;
}

.penta-button-green {
  background: #45975c;
}

.button:disabled,
.penta-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Links */

.penta-link {
  color: #000;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  font-weight: 700;
}

/* Live chat button */

#shopify-chat {
  z-index: 1 !important;
}

/* Buttons */

button svg {
  pointer-events: none;
}

/* Modals */

body.modal-open {
  overflow: hidden;
}

.penta-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.15s, opacity 0.15s, visibility 0.15s;
  z-index: 5;
  width: 100%;
  height: 100%;
}

button.penta-close-modal-button {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  border: none;
}

button.penta-close-modal-button svg {
  max-width: 16px;
}

/* Swipers */

.penta-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.penta-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Swiper arrows */

.swiper-button-next:empty,
.swiper-button-prev:empty {
  display: block;
  color: white;
  text-shadow: 0px 1px 2px rgb(0 0 0 / 50%), 0px 4px 6px rgb(0 0 0 / 25%);
}

/* Expand buttons */

button[data-modal="gallery-modal"] {
  background: black;
  width: 36px;
  height: 36px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
  right: 16px;
  border: none;
  border-radius: 50%;
  padding: 0;
  border: 1px solid #666;
  transition: background-color 0.15s, opacity 0.15s, visibility 0.15s;
  cursor: pointer;
  z-index: 2;
}

button[data-modal="gallery-modal"]:hover {
  background: white;
}

button[data-modal="gallery-modal"] svg {
  fill: white;
  transition: background-color 0.15s;
}

button[data-modal="gallery-modal"]:hover svg {
  background: white;
  fill: black;
}

.penta-pagefly-gallery-image:not(.penta-ready)
  button[data-modal="gallery-modal"] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Thumbs */

.penta-swiper.penta-thumbs-swiper {
  height: 50px;
}

.penta-swiper.penta-thumbs-swiper .swiper-slide img {
  max-height: none; /* Override regular swiper img */
}

@media screen and (min-width: 750px) {
  .penta-swiper.penta-thumbs-swiper {
    height: 60px;
  }
}
@media screen and (min-width: 990px) {
  .penta-swiper.penta-thumbs-swiper {
    height: 80px;
  }
}

/* Forms */
.penta-form-content {
  background-color: #fafafa;
  pointer-events: all;
  transition: transform 0.15s;
  transform: translateX(100%);
  max-width: 750px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.penta-show .penta-form-content {
  transform: translateX(0);
}

.penta-form-content * {
  margin: 0;
}

.penta-form-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.penta-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

@media screen and (min-width: 750px) {
  .penta-form {
    gap: 24px;
  }
}
/* Form Heading */

.penta-form-heading {
  padding: 24px 16px 16px 16px;
}

.penta-form-heading h2 {
  font-weight: 700;
}

@media screen and (min-width: 750px) {
  .penta-form-heading {
    padding: 24px 24px 0 24px;
  }
}

/* Form context block */

.penta-form-context-block {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 12px 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-right: 16px;
  margin-left: 16px;
  gap: 10px;
}

@media screen and (min-width: 750px) {
  .penta-form-context-block {
    padding: 24px;
    gap: 20px;
    margin-right: 24px;
    margin-left: 24px;
  }
}

.penta-form-context-block img {
  width: 80px;
  height: 60px;
  display: block;
  object-fit: cover;
}

@media screen and (min-width: 750px) {
  .penta-form-context-block img {
    width: 140px;
    height: 100px;
  }
}

.penta-form-context-block-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.penta-form-context-block-title h3 {
  font-size: 13px;
  font-weight: 700;
}

@media screen and (min-width: 750px) {
  .penta-form-context-block-title h3 {
    font-size: 18px;
  }
}

.penta-form-context-block-title h5 {
  font-size: 11px;
  background-color: #f4f4f4;
  padding: 3px;
  display: inline-flex;
}

@media screen and (min-width: 750px) {
  .penta-form-context-block-title h5 {
    font-size: 14px;
  }
}

/* Form input groups */

.penta-input-group {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 460px) {
  .penta-input-group {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media screen and (min-width: 750px) {
  .penta-input-group {
    padding-left: 24px;
    padding-right: 24px;
    gap: 24px;
  }
}

.penta-hidden-fields {
  display: none;
}

/* Form input  */

.penta-input {
  position: relative;
  overflow: hidden;
}
.penta-form-consent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.penta-input label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 6px 12px;
  font-weight: 700;
  color: black;
}

.penta-form-consent label {
  width: 100%;
  height: 100%;
  font-size: 11px;
  text-overflow: ellipsis;
  padding: 5px;
  font-weight: 700;
  color: black;
}
@media screen and (min-width: 750px) {
  .penta-input label {
    font-size: 14px;
    padding: 6px 16px;
  }

  .penta-form-consent label {
    font-size: 13px;
    padding: 5px;
    white-space: nowrap;
  }
}

.penta-input input,
.penta-input select,
.penta-input textarea {
  display: block;
  background: white;
  border: 2px solid #ccc;
  border-radius: 3px;
  height: 56px;
  padding: 16px 12px 0px 12px;
  width: 100%;
  color: black;
  font-size: 14px;
}

.penta-input input:disabled + label,
.penta-input select:disabled + label,
.penta-input textarea:disabled + label,
.penta-input input:disabled,
.penta-input select:disabled,
.penta-input textarea:disabled {
  opacity: 0.65;
}

@media screen and (min-width: 750px) {
  .penta-input input,
  .penta-input select,
  .penta-input textarea {
    font-size: 16px;
    padding: 16px 16px 0 16px;
  }
}

.penta-input input:focus,
.penta-input select:focus,
.penta-input textarea:focus {
  border-color: black;
}

@media screen and (min-width: 750px) {
  .penta-input input,
  .penta-input select {
    height: 64px;
  }
}

/* Textarea */
.penta-input textarea {
  height: auto;
  padding-top: 24px;
  min-height: 200px;
}

@media screen and (min-width: 750px) {
  .penta-input textarea {
    height: auto;
    padding-top: 28px;
  }
}

/* Form footer */

.penta-form-footer {
  margin-top: auto;
  background: white;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 20px;
  flex-wrap: wrap;
  position: sticky;
  bottom: 0;
}

.penta-form-footer-contact {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: auto;
  flex-wrap: wrap;
}

.penta-form-footer-contact h3 {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Close buttons */

.penta-form-content button[data-close-modal] {
  top: 16px;
  position: absolute;
  right: 16px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.15s;
  z-index: 1;
}

.penta-form-content button[data-close-modal] svg {
  fill: black;
  max-width: 16px;
  pointer-events: none;
  transition: fill 0.15s;
}

.penta-form-content button[data-close-modal]:hover {
  background: black;
}

.penta-form-content button[data-close-modal]:hover svg {
  fill: white;
}

@media screen and (min-width: 750px) {
  .penta-form-content button[data-close-modal] {
    width: 40px;
    height: 40px;
  }
}

/* Form feedback */

.penta-form-feedback {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
}

.penta-form-feedback > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.15s;
  transition-delay: 0.5s;
  padding: 32px 16px;
}

.penta-form-feedback > div svg {
  height: 16px;
}

.penta-form-feedback > div h3 {
  color: #fff;
}

.penta-form-success {
  background: #45975c;
}

.penta-form-error {
  background: red;
}

/* Show/hide state */

.penta-show {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateX(0) translateY(0) !important;
}

/* Tables  */
.penta-table table,
.penta-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: none !important;
}

.penta-table tr {
  border-bottom: 1px solid #ccc !important;
}

.penta-table th,
.penta-table td,
.penta-table {
  vertical-align: top;
  color: black;
  padding: 8px 0 !important;
  text-align: left !important;
  background: none;
  border: none !important;
}

/* Desktop Header */
@media screen and (min-width: 990px) {
  .penta-header {
    height: 92px;
  }
  .header-wrapper {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .penta-header .list-menu .penta-nav-logo {
    flex-shrink: 1;
  }
  .penta-header .list-menu__item {
    font-weight: 700;
    color: black;
  }
  .penta-nav-flyout-heading {
    font-weight: 700;
    margin: 0;
    padding-top: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .penta-nav-flyout-heading button[data-close-flyout] {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .penta-nav-flyout-heading button[data-close-flyout]:hover {
    background-color: black;
    transition: background-color 0.15s;
  }
  .penta-nav-flyout-heading button[data-close-flyout]:hover svg path {
    fill: white;
    transition: fill 0.15s;
  }
  .penta-nav-flyout-heading button[data-close-flyout] svg {
    transform: rotate(180deg);
    width: 24px;
    pointer-events: none;
  }
  .penta-nav-flyout-heading h2 {
    margin: 0;
    font-weight: bold;
  }
  .penta-nav-flyout-heading .penta-button {
    margin-left: auto;
  }
  .penta-header .list-menu {
    flex-wrap: nowrap;
  }
  .penta-header .list-menu li {
    flex-shrink: 0;
  }
  /* Super Nav */
  .penta-nav-model-list {
    display: flex;
    gap: 16px;
    row-gap: 8px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0;
    list-style: none;
  }
  .penta-nav-model-list a {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
    border-radius: 3px;
    border: 2px solid transparent;
    transition: border 0.15s;
    padding: 8px;
  }
  .penta-nav-model-list a:hover {
    border-color: #ccc;
  }
  .penta-supernav .penta-nav-model {
    padding-bottom: 16px;
    width: 128px;
    text-align: center;
    font-size: 16px;
  }
  .penta-supernav .penta-nav-model img {
    max-width: 128px;
    max-height: 100px;
    object-fit: contain;
    pointer-events: none;
    image-rendering: -webkit-optimize-contrast;
  }
}

/* Nav brand list flyout */

@media screen and (min-width: 990px) {
  details > .penta-brand-menu {
    position: fixed;
    top: 92px;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0;
    z-index: -1;
    border: none;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: animateMenuOpen var(--duration-default) ease;
  }

  /* Super Nav */
  .penta-supernav {
    z-index: 1;
    position: fixed;
    top: 92px;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0;
    z-index: -1;
    border: none;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: animateMenuOpen var(--duration-default) ease;
    transition: visibility 0.15s, opacity 0.15s, transform 0.15s;
  }

  .penta-supernav:not(.open) {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-1.5rem);
  }

  /* UL */

  .penta-brand-menu .header__submenu.list-menu {
    position: static;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 0;
    padding: 8px 0 12px 0;
  }

  /* li */

  .penta-brand-menu .header__submenu .header__menu-item {
    border-radius: 3px;
    border: 2px solid transparent;
    transition: border 0.15s;
    padding: 0;
  }

  .penta-brand-menu .header__submenu .header__menu-item:hover {
    border-color: #ccc;
  }
}

.penta-brand-menu .header__submenu .header__menu-item img {
  max-width: 100px;
  max-height: 100px;
  image-rendering: -webkit-optimize-contrast;
  width: 100%;
  pointer-events: none;
}

/* Mobile Nav */

.js .menu-drawer__menu li {
  font-weight: bold;
}

.menu-drawer__menu-item {
  gap: 20px;
}

.list-menu__item.penta-mobile-nav-model {
  padding: 8px 20px;
}

.menu-drawer__close-button {
  font-weight: bold;
}

.penta-mobile-nav-details summary {
  padding-left: 20px;
  gap: 16px;
  padding: 8px 20px;
}

.penta-mobile-nav-details img {
  max-height: 72px;
  max-width: 72px;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}

/* Mobile account */

.menu-drawer__account {
  display: none !important;
}

/* Footer */

.footer {
  background: #252525;
}

.footer__blocks-wrapper .footer-block.grid__item:nth-child(4) {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .footer__blocks-wrapper .footer-block.grid__item:nth-child(4) {
    margin-bottom: 30px;
  }
}
.test-drive-button {
  width: 100%;
  background: #fc3;
  border-radius: 40px;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 12px 20px;
  border: none;
}

table tr td:first-child {
  position: sticky;
  background: #f9fafb;
}
