.penta-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 300px;
	background: red;
	visibility: hidden;
	opacity: 0;
	transform: translateX(100%);
	transition: transform 0.15s, opacity 0.15s, visibility 0.15s;
	z-index: 5;
}
.penta-show {
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
}

/* Accordions */

.penta-accordion-content:not(.penta-show) {
	display: none !important;
}
