#penta-product-swiper {
	background-color: #000;
	height: 280px;
}

@media screen and (min-width: 750px) {
	#penta-product-swiper {
		height: 400px;
	}
}
@media screen and (min-width: 990px) {
	#penta-product-swiper {
		height: 500px;
	}
}
